target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/integration-test/resources/datastore/test-users.json

### IntelliJ IDEA ###
.idea
idea
*.iml

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Allure ###
.allure
allure-results